body{
    background-color: rgb(253, 251, 249);
}
*{
    margin: 0;
    padding: 0;
}
/* ============================Navbar-Section========================= */
#navbar{
    background-color: rgb(33, 169, 247);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    height: 60px;
    margin-bottom: 20px;
}
#navbar>div:nth-child(1){
   margin: 10px;
 
}
#navbar>div:nth-child(2){
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-right: 5%;
  
 }
#navbar>div:nth-child(1)>img{
    border-radius: 5px;
    height: 40px;
    width: 100px;
    
}

/* ===============================Register-Section========================= */
#register{
    border-radius: 4px;
    width: 30%;
    margin: auto;
    background-color: rgb(223, 235, 242);
}
::placeholder{
    color: black;
}
#register>input{
    border: none;
  outline: none;
   border-radius: 4px;
    padding: 10px 10px;
    width: 91%;
    margin-left: 7px;
    margin-top: 6px;
    margin-bottom: 6px;
}
#register>input:nth-child(9){
    cursor: pointer;
    padding: 10px 10px;
    width: 96%;
    margin-left: 7px;
    margin-top: 6px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin-bottom: 6px;
    background-color: rgb(33, 169, 247);
}
#exit{
    display: flex;

}
#exit>p{
    font-size: 18px;
    margin-left: 21%;
    margin-right: 10px;
}
#exit>a{
  text-decoration: none;
  font-size: 18px;
  color: blueviolet;
}